<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/app.css">
    <title>Jorge Weiss | Portfolio</title>
</head>

<body>
    <div class="navbar">
        <div id="nav-links">
            <ul>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#about">About</a></li>
                <li><a target="_blank" href="/static/Weiss_Resume.pdf">CV <i class="fas fa-external-link-alt"></i></a></li>
            </ul>
        </div>
    </div>


    <header>
        <section id="bio">
            <div class="left">

            </div>
            <div class="right">
                <h1 id="name">Jorge Alejandro Weiss</h1>
                <h3 id="title">Software Engineer</h3>
                <p>I am a web-based software engineer specializing in Python and JavaScript for back-end development. My focus is on growing as a software engineer and  using my skillset to make a positive impact on the world.</p>    
            </div>
        </section>
        <div class="external-links">
            <a href="https://www.linkedin.com/in/jorgeweiss1"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.github.com/jaweiss89"><i class="fab fa-github"></i></a>
        </div>
    </header>


    <div class="container">

        <section id="skills">
            <h2 class="section-title">Skills</h2>
            <div class="skills-window">
                <div class="skills-section" id="front-end">
                    <ul>
                        <li class="skills-title">Front-End</li>
                        <li>HTML5/CSS3</li>
                        <li>JavaScript</li>
                        <li>AJAX</li>
                        <li>Bootstrap</li>
                        <li>jQuery</li>
                        <li>Jasmine</li>
                        <li>Axios</li>
                    </ul>
                </div>
                <div class="skills-section" id="back-end">
                    <ul>
                        <li class="skills-title">Back-End</li>
                        <li>Python</li>
                        <li>Flask</li>
                        <li>SQLAlchemy</li>
                        <li>PostgreSQL</li>
                        <li>NodeJS</li>
                        <li>Express</li>
                        <li>MongoDB</li>
                    </ul>
                </div>
                <div class="skills-section" id="other-skills">
                    <ul>
                        <li class="skills-title">Other Skills</li>
                        <li>Object-Oriented Programming</li>
                        <li>Test-Driven Development</li>
                        <li>Responsive Design</li>
                        <li>RESTful API Development</li>
                        <li>Git/GitHub</li>
                        <li>Authentication/Authorization</li>
                    </ul>
                </div>

            </div>
        </section>

        <section id="projects">
            <h2 class="section-title">Projects</h2>
            <div class="projects-window">

                <div class="project-card">
                    <div class="project-img">
                        <img src="../static/nexomobile.png" alt="placeholder image">
                    </div>
                    <div class="project-text">
                        <p class="project-techs">Flask - SocketIO - PostgreSQL</p>
                        <p class="project-title">ne-xo</p>
                        <p class="project-description">A messaging app using the Google Cloud Translations API for real-time messaging between speakers of different languages making new conversations possible.</p>
                        <p class="project-links">
                            <a target="_blank" href="https://github.com/JAWeiss89/ne-xo"><i class="fab fa-github"></i></a>
                            <a target="_blank" href="https://ne-xo.herokuapp.com/"><i class="fas fa-link"></i></a></a>
                        </p>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-img">
                        <img src="../static/chimiepic.png" alt="placeholder image">
                    </div>
                    <div class="project-text">
                        <p class="project-techs">Flask - SQLAlchemy - PostgreSQL</p>
                        <p class="project-title">Chimie API</p>
                        <p class="project-description">An API for all 118 chemical elements. How many protons does a Silver atom have? What's the melting point of Sodium? Chimie responds.</p>
                        <p class="project-links">
                            <a target="_blank" href="https://github.com/JAWeiss89/chimieAPI"><i class="fab fa-github"></i></a>
                            <a target="_blank" href="https://chimie-api.herokuapp.com/"><i class="fas fa-link"></i></a></a>
                        </p>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-img">
                        <img src="../static/hackpic.png" alt="placeholder image">
                    </div>
                    <div class="project-text">
                        <p class="project-techs">JavaScript - Axios</p>
                        <p class="project-title">Hack-Or-Snooze</p>
                        <p class="project-description">A singlepage HackerNews clone using an API to GET / POST / UPDATE / DELETE stories. AJAX functionality supported by axios library.</p>
                        <p class="project-links">
                            <a target="_blank" href="https://github.com/JAWeiss89/hackOrSnooze"><i class="fab fa-github"></i></a>
                            <a target="_blank" href="https://jaweiss89.github.io/hackOrSnooze/"><i class="fas fa-link"></i></a></a>
                        </p>
                    </div>
                </div>
        
                <div class="project-card">
                    <div class="project-img">
                        <img src="../static/memorypic.png" alt="placeholder image">
                    </div>
                    <div class="project-text">
                        <p class="project-techs">HTML - CSS - JavaScript</p>
                        <p class="project-title">Pokemon Memory Game</p>
                        <p class="project-description">Simple memory game to improve css positioning and game-logic.</p>
                        <p class="project-links">
                            <a target="_blank" href="https://github.com/JAWeiss89/memoryGame"><i class="fab fa-github"></i></a>
                            <a target="_blank" href="https://jaweiss89.github.io/memoryGame/"><i class="fas fa-link"></i></a></a>
                        </p>
                    </div>
                </div>

            </div>
        </section>


        <section id="about">
            <h2 class="section-title">About Me</h2>
            <div class="about-window">
                <div class="about-img">
                    <img src="../static/profile.jpg">
                </div>    
                <div class="about-text">
                    <p>Hello! My name is Jorge and I live in Chicago, IL. I have a bachelor's degree in Biology from The University of Texas at Austin. I am currently a Software Engineering student at the school Springboard. At the moment, I'm working with other students at Springboard to create educational tools for science classrooms. One of my goals is to make software engineering a field accessible to hispanic youth.</p>
                    <p>If you wish to reach me with career opportunities, inquiries about my projects or would like to just say hello, please write to me via email at:  <br><a href="mailto:jorge.a.weiss@gmail.com"> Jorge.A.Weiss@gmail.com</a></p>
                </div>
            </div>

        </section>
 
        
    </div>
    <script type="text/javascript" src="/static/app.js"></script>
</body>
</html>