<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/app.css">
    <title>Jorge Weiss</title>
</head>

<body>
    <div class="navbar">
        <div id="nav-links">
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Skills</a></li>
            </ul>
        </div>
    </div>
    <header>
        <section id="bio">
            <div class="left">

            </div>
            <div class="right">
                <h1 id="name">Jorge Alejandro Weiss</h1>
                <h3 id="title">Software Developer</h3>
                <p>I am a web-based software developer specializing in Python for back-end infrastructure. My focus is on growing as a software developer and  using my skillset to make a positive impact on the world.</p>    
            </div>
        </section>
        <div class="external-links">
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-github"></i>
        </div>
    </header>
    <div class="container">
 
    </div>
    <script type="text/javascript" src="/static/app.js"></script>
</body>
</html>