<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut-icon" type="image/png" href="../static/favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/app.css">
    <title>Jorge Weiss | Portfolio</title>
</head>

<body>
    <div class="navbar">
        <div id="nav-links">
            <ul>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#about">About</a></li>
                <li><a target="_blank" href="/static/Weiss_Resume.pdf">Resume <i class="fas fa-external-link-alt"></i></a></li>
            </ul>
        </div>
    </div>


    <header>
        <section id="bio">
            <div class="left">

            </div>
            <div class="right">
                <h1 id="name">Jorge Alejandro Weiss</h1>
                <h3 id="title">Software Developer</h3>
                <p>I am a web-based software developer specializing in Python for back-end infrastructure. My focus is on growing as a software developer and  using my skillset to make a positive impact on the world.</p>    
            </div>
        </section>
        <div class="external-links">
            <a href="https://www.linkedin.com/in/jorgeweiss1"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.github.com/jaweiss89"><i class="fab fa-github"></i></a>
        </div>
    </header>


    <div class="container">

        <section id="skills">
            <h2 class="section-title">Skills</h2>
            <div class="skills-window">
                <div class="skills-section" id="front-end">
                    <ul>
                        <li class="skills-title">Front-End</li>
                        <li>HTML5/CSS3</li>
                        <li>JavaScript</li>
                        <li>AJAX</li>
                        <li>Bootstrap</li>
                        <li>jQuery</li>
                        <li>Jasmine</li>
                        <li>Axios</li>
                    </ul>
                </div>
                <div class="skills-section" id="back-end">
                    <ul>
                        <li class="skills-title">Back-End</li>
                        <li>Python</li>
                        <li>Flask</li>
                        <li>SQLAlchemy</li>
                        <li>PostgreSQL</li>
                        <li>NodeJS</li>
                        <li>Express</li>
                        <li>MongoDB</li>
                    </ul>
                </div>
                <div class="skills-section" id="other-skills">
                    <ul>
                        <li class="skills-title">Other Skills</li>
                        <li>Object-Oriented Programming</li>
                        <li>Test-Driven Development</li>
                        <li>Responsive Design</li>
                        <li>Accessibility First</li>
                        <li>RESTful API Development</li>
                        <li>Git/GitHub</li>
                        <li>Authentication/Authorization</li>
                    </ul>
                </div>

            </div>
        </section>

        <section id="projects">
            <h2 class="section-title">Projects</h2>
            <div class="projects-window">

                <div class="project-card">
                    <div class="project-img">
                        <img src="../static/chimiepic.png" alt="placeholder image">
                    </div>
                    <div class="project-text">
                        <p class="project-techs">Flask - SQLAlchemy - PostgreSQL</p>
                        <p class="project-title">Chimie API</p>
                        <p class="project-description">An API for all 118 chemical elements. How many protons does a Silver atom have? What's the melting point of Sodium? Chimie responds.</p>
                        <p class="project-links">
                            <a href="https://github.com/JAWeiss89/chimieAPI"><i class="fab fa-github"></i></a>
                            <a href="https://chimie-api.herokuapp.com/"><i class="fas fa-link"></i></a></a>
                        </p>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-img">
                        <img src="../static/hackpic.png" alt="placeholder image">
                    </div>
                    <div class="project-text">
                        <p class="project-techs">JavaScript - Axios</p>
                        <p class="project-title">Hack-Or-Snooze</p>
                        <p class="project-description">A singlepage HackerNews clone using an API to GET / POST / UPDATE / DELETE stories. AJAX functionality supported by axios library.</p>
                        <p class="project-links">
                            <a href="https://github.com/JAWeiss89/hackOrSnooze"><i class="fab fa-github"></i></a>
                            <a href="https://jaweiss89.github.io/hackOrSnooze/"><i class="fas fa-link"></i></a></a>
                        </p>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-img">
                        <img src="../static/forexpic.png" alt="placeholder image">
                    </div>
                    <div class="project-text">
                        <p class="project-techs">Flask - Forex-Python</p>
                        <p class="project-title">Forex Converter</p>
                        <p class="project-description">Foreign currency converter app built using python and flask. No JS. Uses forex-python</p>
                        <p class="project-links">
                            <!-- <a href="https://github.com/JAWeiss89/chimieAPI"><i class="fab fa-github"></i></a>
                            <a href="https://chimie-api.herokuapp.com/"><i class="fas fa-link"></i></a></a> -->
                        </p>                    
                    </div>
                </div>
        
                <div class="project-card">
                    <div class="project-img">
                        <img src="../static/memorypic.png" alt="placeholder image">
                    </div>
                    <div class="project-text">
                        <p class="project-techs">HTML - CSS - JavaScript</p>
                        <p class="project-title">Pokemon Memory Game</p>
                        <p class="project-description">Simple memory game to improve css positioning and game-logic.</p>
                        <p class="project-links">
                            <a href="https://github.com/JAWeiss89/memoryGame"><i class="fab fa-github"></i></a>
                            <a href="https://jaweiss89.github.io/memoryGame/"><i class="fas fa-link"></i></a></a>
                        </p>
                    </div>
                </div>

            </div>
        </section>


        <section id="about">
            <h2 class="section-title">About Me</h2>
            <div class="about-window">
                <div class="about-text">
                    <p>Hello! My name is Jorge and I live in Chicago. I have a bachelor's degree in Biology from The University of Texas at Austin and am currently learning software engineering at the school Springboard. As I become a better developer, my goal is to use my skills to create technology that betters the world. </p>
                    <p></p>
                    <p>I may best be reached via email at Jorge.A.Weiss@gmail.com</p>
                </div>
                <div class="about-img">
                    <img src="../static/profile.jpg">
                </div>    
            </div>

        </section>
 
        
    </div>
    <script type="text/javascript" src="/static/app.js"></script>
</body>
</html>